<!-- nav section start -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="col-6">
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-6">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" style="color: #e12454;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bank">Bank</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="makepayment">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bankbalance">Balance</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Department
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- nav section end -->

<router-outlet></router-outlet>


<!-- footer section start  -->
<footer>
  <div class="footer-sec">
    <div class="container">
      <div class="row footer-content">
        <div class="col-5">
          <img src="../assets/img/logo.png" alt="">
          <p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet
            distinctio possimus.</p>
        </div>
        <div class="col-2">
          <ul>
            <span>Department</span>
            <li>Surgery</li>
            <li>Wome's Health</li>
            <li>Radiology</li>
            <li>Medicine</li>
            <li>Cardioc</li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <span>Support</span>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Company Support</li>
            <li>FAQuestions</li>
            <li>Company Licence</li>
          </ul>
        </div>
        <div class="col-3">
          <ul>
            <span>Get in touch</span>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Company Support</li>
            <li>FAQuestions</li>
            <li>Company Licence</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section end  -->


