.banner{
    position: relative;
    overflow: hidden;
    background: #fff;
    background: url(../../assets/img/slider-bg-1.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
}
.banner span{
    font-size: 14px;
    line-height: 22px;
    color: #6f8ba4;
}
.banner h1{
    font-size: 60px;
    line-height: 72px;
    color: #223a66;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
    line-height: 30px;
    color: #6f8ba4;
}
.btn-container button{
    padding: 16px;
    background: #e12454;
    color: #fff;
    border-color: #e12454;
    border-radius: 20px;
}
.block{
    padding: 80px 0 160px;
}