<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="block">
                    <span>TOTAL HEALTH CARE SOLUTION</span>
                    <h1>Your Most Trusted Health Partner</h1>
                    <p>A repudiandae ipsam labore ipsa voluptatum quidem quae laudantium quisquam aperiam maiores sunt fugit, deserunt rem suscipit placeat.</p>
                    <div class="btn-container">
                        <button>Make appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>